* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Livvic', sans-serif !important;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    // max-width: 1400px;
    // margin: 0 auto;
}

.background {
    flex-grow: 1;
    position: relative;
    // padding-bottom: 100px;
    overflow: hidden;
}

.background-img {
    position: absolute;
    opacity: 0.6;
    z-index: -1;

    // &:nth-child(1) {
    //     left: 0;
    //     top: 12vw;
    //     transform: translate(-50%, -50%);
    //     width: 60vw;
    //     min-width: 400px;
    // }

    &:nth-child(1) {
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        // width: 1500px;
        width: 70vw;
        // min-width: 800px;
    }
}

.text {
    // max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

.title {
    // color: $green;
    font-weight: 900;
    font-size: 26px;
    // text-align: center;
    margin: 0 0 20px;

    &__wrapper {
        width: 500px;
        padding: 0 12px;
        margin: 0 auto;
    }

    &--md {
        font-family: $title;
        font-size: 32px;
        margin: 0;
        text-transform: uppercase;
    }
    
    &--sm {
        font-weight: 200;
        margin-bottom: 50px;
        color: $light-green;
    }
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

img.img {
    display: block;
    width: 100%;
    user-select: none;
    transition: 5s;

    &--galery {
        // position: absolute;
        // height: 100%;
        opacity: 0;
        transition: 0.2s ease-in-out;

        &:nth-child(2) {
            margin-top: -100%;
        }

        &.active {
            opacity: 1;
        }
    }
}

.light-box {
    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
}